In [1]:
from pyspark.sql import SparkSession

In [2]:
spark = SparkSession.builder.appName("SparkDev").config("spark.jars", "/opt/homebrew/Cellar/apache-spark/3.3.0/libexec/jars/mysql-connector-java-8.0.16.jar").getOrCreate()

23/09/21 06:06:53 WARN Utils: Your hostname, Pavans-MacBook-Pro.local resolves to a loopback address: 127.0.0.1; using 192.168.29.143 instead (on interface en0)
23/09/21 06:06:53 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
23/09/21 06:06:53 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

23/09/21 06:06:53 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.

In [3]:
df = spark.read.jdbc("jdbc:mysql://localhost:3306/test", "employee",
                     properties={"user": "root", "password": "root", "driver":"com.mysql.jdbc.Driver"})

Loading class `com.mysql.jdbc.Driver'. This is deprecated. The new driver class is `com.mysql.cj.jdbc.Driver'. The driver is automatically registered via the SPI and manual loading of the driver class is generally unnecessary.

Py4JJavaError: An error occurred while calling o28.jdbc.
: com.mysql.cj.jdbc.exceptions.CommunicationsException: Communications link failure

The last packet sent successfully to the server was 0 milliseconds ago. The driver has not received any packets from the server.
	at com.mysql.cj.jdbc.exceptions.SQLError.createCommunicationsException(SQLError.java:174)
	at com.mysql.cj.jdbc.exceptions.SQLExceptionsMapping.translateException(SQLExceptionsMapping.java:64)
	at com.mysql.cj.jdbc.ConnectionImpl.createNewIO(ConnectionImpl.java:835)
	at com.mysql.cj.jdbc.ConnectionImpl.<init>(ConnectionImpl.java:455)
	at com.mysql.cj.jdbc.ConnectionImpl.getInstance(ConnectionImpl.java:240)
	at com.mysql.cj.jdbc.NonRegisteringDriver.connect(NonRegisteringDriver.java:199)
	at org.apache.spark.sql.execution.datasources.jdbc.connection.BasicConnectionProvider.getConnection(BasicConnectionProvider.scala:49)
	at org.apache.spark.sql.execution.datasources.jdbc.connection.ConnectionProviderBase.create(ConnectionProvider.scala:102)
	at org.apache.spark.sql.jdbc.JdbcDialect.$anonfun$createConnectionFactory$1(JdbcDialects.scala:122)
	at org.apache.spark.sql.jdbc.JdbcDialect.$anonfun$createConnectionFactory$1$adapted(JdbcDialects.scala:118)
	at org.apache.spark.sql.execution.datasources.jdbc.JDBCRDD$.getQueryOutputSchema(JDBCRDD.scala:63)
	at org.apache.spark.sql.execution.datasources.jdbc.JDBCRDD$.resolveTable(JDBCRDD.scala:58)
	at org.apache.spark.sql.execution.datasources.jdbc.JDBCRelation$.getSchema(JDBCRelation.scala:242)
	at org.apache.spark.sql.execution.datasources.jdbc.JdbcRelationProvider.createRelation(JdbcRelationProvider.scala:37)
	at org.apache.spark.sql.execution.datasources.DataSource.resolveRelation(DataSource.scala:350)
	at org.apache.spark.sql.DataFrameReader.loadV1Source(DataFrameReader.scala:228)
	at org.apache.spark.sql.DataFrameReader.$anonfun$load$2(DataFrameReader.scala:210)
	at scala.Option.getOrElse(Option.scala:189)
	at org.apache.spark.sql.DataFrameReader.load(DataFrameReader.scala:210)
	at org.apache.spark.sql.DataFrameReader.load(DataFrameReader.scala:171)
	at org.apache.spark.sql.DataFrameReader.jdbc(DataFrameReader.scala:248)
	at java.base/jdk.internal.reflect.DirectMethodHandleAccessor.invoke(DirectMethodHandleAccessor.java:104)
	at java.base/java.lang.reflect.Method.invoke(Method.java:578)
	at py4j.reflection.MethodInvoker.invoke(MethodInvoker.java:244)
	at py4j.reflection.ReflectionEngine.invoke(ReflectionEngine.java:357)
	at py4j.Gateway.invoke(Gateway.java:282)
	at py4j.commands.AbstractCommand.invokeMethod(AbstractCommand.java:132)
	at py4j.commands.CallCommand.execute(CallCommand.java:79)
	at py4j.ClientServerConnection.waitForCommands(ClientServerConnection.java:182)
	at py4j.ClientServerConnection.run(ClientServerConnection.java:106)
	at java.base/java.lang.Thread.run(Thread.java:1623)
Caused by: com.mysql.cj.exceptions.CJCommunicationsException: Communications link failure

The last packet sent successfully to the server was 0 milliseconds ago. The driver has not received any packets from the server.
	at java.base/jdk.internal.reflect.DirectConstructorHandleAccessor.newInstance(DirectConstructorHandleAccessor.java:67)
	at java.base/java.lang.reflect.Constructor.newInstanceWithCaller(Constructor.java:500)
	at java.base/java.lang.reflect.Constructor.newInstance(Constructor.java:484)
	at com.mysql.cj.exceptions.ExceptionFactory.createException(ExceptionFactory.java:61)
	at com.mysql.cj.exceptions.ExceptionFactory.createException(ExceptionFactory.java:105)
	at com.mysql.cj.exceptions.ExceptionFactory.createException(ExceptionFactory.java:151)
	at com.mysql.cj.exceptions.ExceptionFactory.createCommunicationsException(ExceptionFactory.java:167)
	at com.mysql.cj.protocol.a.NativeSocketConnection.connect(NativeSocketConnection.java:91)
	at com.mysql.cj.NativeSession.connect(NativeSession.java:152)
	at com.mysql.cj.jdbc.ConnectionImpl.connectOneTryOnly(ConnectionImpl.java:955)
	at com.mysql.cj.jdbc.ConnectionImpl.createNewIO(ConnectionImpl.java:825)
	... 28 more
Caused by: java.net.ConnectException: Connection refused
	at java.base/sun.nio.ch.Net.connect0(Native Method)
	at java.base/sun.nio.ch.Net.connect(Net.java:580)
	at java.base/sun.nio.ch.Net.connect(Net.java:569)
	at java.base/sun.nio.ch.NioSocketImpl.connect(NioSocketImpl.java:576)
	at java.base/java.net.SocksSocketImpl.connect(SocksSocketImpl.java:327)
	at java.base/java.net.Socket.connect(Socket.java:666)
	at com.mysql.cj.protocol.StandardSocketFactory.connect(StandardSocketFactory.java:155)
	at com.mysql.cj.protocol.a.NativeSocketConnection.connect(NativeSocketConnection.java:65)
	... 31 more

In [7]:
df.show(10)

+---+-----------+----------+---+--------------+---------------+----------+--------------+--------------------+
| id| first_name| last_name|age|highest_degree|cgpa_percentage|      city|         state|        technologies|
+---+-----------+----------+---+--------------+---------------+----------+--------------+--------------------+
|  1|Pavan Kumar|    Mantha| 36|         MTech|            7.9| Hyderabad|     Telangana|ReactJs, JavaScri...|
|  2| Arun Kumar|   Boppudi| 35|         BTech|           8.05|    Guntur|Andhra Pradesh|ReactJs, JavaScri...|
|  3|     Deepak|    Mantha| 33|         BTech|           8.09| Hyderabad|     Telangana|C, C++, Electroni...|
|  4|Ravi Kamesh| Vadlamani| 27|         BTech|           7.39|Anakapalli|Andhra Pradesh|ReactJs, JavaScri...|
|  5|    Ramarao| Dandamudi| 36|         BTech|            8.0|Rajamundry|Andhra Pradesh|ReactJs, JavaScri...|
|  6|   Mahender|         V| 21|         BTech|           7.19| Hyderabad|     Telangana|ReactJs, JavaScri...|
|  7|Manoj Kumar|Velechetti| 33|         BTech|           7.95|     Rajam|Andhra Pradesh|ReactJs, JavaScri...|
|  8|      Manoj|     Manoj| 23|         BTech|           7.64|    Guntur|Andhra Pradesh|ReactJs, JavaScri...|
+---+-----------+----------+---+--------------+---------------+----------+--------------+--------------------+

In [8]:
df.where("highest_degree == 'MTech'").show()

+---+-----------+---------+---+--------------+---------------+---------+---------+--------------------+
| id| first_name|last_name|age|highest_degree|cgpa_percentage|     city|    state|        technologies|
+---+-----------+---------+---+--------------+---------------+---------+---------+--------------------+
|  1|Pavan Kumar|   Mantha| 36|         MTech|            7.9|Hyderabad|Telangana|ReactJs, JavaScri...|
+---+-----------+---------+---+--------------+---------------+---------+---------+--------------------+

In [10]:
df.where("state == 'Telangana'").count()

3

In [11]:
df.where("state == 'Andhra Pradesh'").count()

5