## Pyspark Basics and transformations
    - this notebook assume pyspark is already installed and runing, if not please watch this video
    https://www.youtube.com/watch?v=MLXOy-OhWRY&list=PL7qHbYUK0G0reyK9ltnm5n0QgTKh2EV3q&index=2

In [1]:
from pyspark.sql import SparkSession

In [2]:
spark = SparkSession.builder.appName("spark basic operations").getOrCreate()

22/11/20 21:54:16 WARN Utils: Your hostname, Pavans-MacBook-Pro.local resolves to a loopback address: 127.0.0.1; using 192.168.29.143 instead (on interface en0)
22/11/20 21:54:16 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

22/11/20 21:54:17 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
22/11/20 21:54:18 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.

In [3]:
from pyspark.sql import Row
from pyspark.sql.types import StructField, StructType, StringType, LongType, IntegerType, ArrayType

In [4]:
schema = StructType([
    StructField(name="FirstName", dataType=StringType(), nullable=False),
    StructField(name="LastName", dataType=StringType(), nullable=False),
    StructField(name="Age", dataType=IntegerType(), nullable=False),
    StructField(name="Place", dataType=StringType(), nullable=False),
    StructField(name="Salary", dataType=LongType(), nullable=False),
    StructField(name="Department", dataType=StringType(), nullable=False),
    StructField(name="Technologies", dataType=ArrayType(elementType=StringType()), nullable=False),
])

In [5]:
rows = [
    Row("Pavan","Mantha",36,"Hyderabad",273567,"SPS",["java","spring boot","data science","react","node"]),
    Row("Arun","Boppudi",36,"Guntur",303567,"Aero",["java","spring boot","cloud","react","node"]),
    Row("Ravi","Vadlamani",26,"Visakapatnam",213567,"Aero",["express","data structures","react"]),
    Row("Mahender","M",21,"Hyderabad",153567,"Aero",["java","spring boot","express","react","node"]),
    Row("Manoj","Manoj",21,"Guntur",183567,"Aero",["express","react"]),
    Row("Manoj","Velecheti",21,"Visakapatnam",223567,"Aero",["java","spring boot","express","react"]),
]

In [6]:
parallel_rows = spark.sparkContext.parallelize(rows)

In [7]:
df = spark.createDataFrame(parallel_rows, schema)

In [8]:
df.show()

+---------+---------+---+------------+------+----------+--------------------+
|FirstName| LastName|Age|       Place|Salary|Department|        Technologies|
+---------+---------+---+------------+------+----------+--------------------+
|    Pavan|   Mantha| 36|   Hyderabad|273567|       SPS|[java, spring boo...|
|     Arun|  Boppudi| 36|      Guntur|303567|      Aero|[java, spring boo...|
|     Ravi|Vadlamani| 26|Visakapatnam|213567|      Aero|[express, data st...|
| Mahender|        M| 21|   Hyderabad|153567|      Aero|[java, spring boo...|
|    Manoj|    Manoj| 21|      Guntur|183567|      Aero|    [express, react]|
|    Manoj|Velecheti| 21|Visakapatnam|223567|      Aero|[java, spring boo...|
+---------+---------+---+------------+------+----------+--------------------+

### Read data from a file to create data frame

In [9]:
df_from_file = spark.read.csv("owid-co2-data.csv", inferSchema=True, header=True)

In [10]:
df_from_file.head()

22/09/11 15:46:48 WARN package: Truncated the string representation of a plan since it was too large. This behavior can be adjusted by setting 'spark.sql.debug.maxToStringFields'.

Row(iso_code='AFG', country='Afghanistan', year=1949, co2=0.015, co2_per_capita=0.002, trade_co2=None, cement_co2=None, cement_co2_per_capita=None, coal_co2=0.015, coal_co2_per_capita=0.002, flaring_co2=None, flaring_co2_per_capita=None, gas_co2=None, gas_co2_per_capita=None, oil_co2=None, oil_co2_per_capita=None, other_industry_co2=None, other_co2_per_capita=None, co2_growth_prct=None, co2_growth_abs=None, co2_per_gdp=None, co2_per_unit_energy=None, consumption_co2=None, consumption_co2_per_capita=None, consumption_co2_per_gdp=None, cumulative_co2=0.015, cumulative_cement_co2=None, cumulative_coal_co2=0.015, cumulative_flaring_co2=None, cumulative_gas_co2=None, cumulative_oil_co2=None, cumulative_other_co2=None, trade_co2_share=None, share_global_co2=0.0, share_global_cement_co2=None, share_global_coal_co2=0.0, share_global_flaring_co2=None, share_global_gas_co2=None, share_global_oil_co2=None, share_global_other_co2=None, share_global_cumulative_co2=0.0, share_global_cumulative_cement_co2=None, share_global_cumulative_coal_co2=0.0, share_global_cumulative_flaring_co2=None, share_global_cumulative_gas_co2=None, share_global_cumulative_oil_co2=None, share_global_cumulative_other_co2=None, total_ghg=None, ghg_per_capita=None, total_ghg_excluding_lucf=None, ghg_excluding_lucf_per_capita=None, methane=None, methane_per_capita=None, nitrous_oxide=None, nitrous_oxide_per_capita=None, population=7624058.0, gdp=None, primary_energy_consumption=None, energy_per_capita=None, energy_per_gdp=None)

### Creating a lazily evaluated "view" that can be used in spark sql

In [10]:
df_from_file.createOrReplaceTempView("df_table")

22/11/20 21:55:12 WARN package: Truncated the string representation of a plan since it was too large. This behavior can be adjusted by setting 'spark.sql.debug.maxToStringFields'.

### Printing the schema

In [11]:
#df_from_file.printSchema()
df.printSchema()

root
 |-- FirstName: string (nullable = false)
 |-- LastName: string (nullable = false)
 |-- Age: integer (nullable = false)
 |-- Place: string (nullable = false)
 |-- Salary: long (nullable = false)
 |-- Department: string (nullable = false)
 |-- Technologies: array (nullable = false)
 |    |-- element: string (containsNull = true)

### Manipulating the columns [spark transformations]

In [12]:
import pyspark.sql.functions as F

In [13]:
df.select("Place").show(1)

+---------+
|    Place|
+---------+
|Hyderabad|
+---------+
only showing top 1 row

In [14]:
df.select(F.col("Place")).show(2)

+---------+
|    Place|
+---------+
|Hyderabad|
|   Guntur|
+---------+
only showing top 2 rows

In [15]:
df.select('FirstName','LastName').show(1)

+---------+--------+
|FirstName|LastName|
+---------+--------+
|    Pavan|  Mantha|
+---------+--------+
only showing top 1 row

In [16]:
df.select('*').show(1)

+---------+--------+---+---------+------+----------+--------------------+
|FirstName|LastName|Age|    Place|Salary|Department|        Technologies|
+---------+--------+---+---------+------+----------+--------------------+
|    Pavan|  Mantha| 36|Hyderabad|273567|       SPS|[java, spring boo...|
+---------+--------+---+---------+------+----------+--------------------+
only showing top 1 row

### Change the column name and change it back using alias

In [18]:
df.select(F.expr("Place as Place_Of_Residence")).show(2)

+------------------+
|Place_Of_Residence|
+------------------+
|         Hyderabad|
|            Guntur|
+------------------+
only showing top 2 rows

In [19]:
df.select(F.expr("Place as Place_Of_Residence").alias("place")).show(2)

+---------+
|    place|
+---------+
|Hyderabad|
|   Guntur|
+---------+
only showing top 2 rows

In [20]:
df.selectExpr("Place as Place_Of_Residence","place").show(2)

+------------------+---------+
|Place_Of_Residence|    place|
+------------------+---------+
|         Hyderabad|Hyderabad|
|            Guntur|   Guntur|
+------------------+---------+
only showing top 2 rows

In [21]:
df.selectExpr("avg(age)","count(distinct(place)) as place_count").show()

+------------------+-----------+
|          avg(age)|place_count|
+------------------+-----------+
|26.833333333333332|          3|
+------------------+-----------+

### Pass explicit values with literals

In [22]:
df.select(F.expr("*"), F.lit('dummy').alias("one")).show()

+---------+---------+---+------------+------+----------+--------------------+-----+
|FirstName| LastName|Age|       Place|Salary|Department|        Technologies|  one|
+---------+---------+---+------------+------+----------+--------------------+-----+
|    Pavan|   Mantha| 36|   Hyderabad|273567|       SPS|[java, spring boo...|dummy|
|     Arun|  Boppudi| 36|      Guntur|303567|      Aero|[java, spring boo...|dummy|
|     Ravi|Vadlamani| 26|Visakapatnam|213567|      Aero|[express, data st...|dummy|
| Mahender|        M| 21|   Hyderabad|153567|      Aero|[java, spring boo...|dummy|
|    Manoj|    Manoj| 21|      Guntur|183567|      Aero|    [express, react]|dummy|
|    Manoj|Velecheti| 21|Visakapatnam|223567|      Aero|[java, spring boo...|dummy|
+---------+---------+---+------------+------+----------+--------------------+-----+

### Adding columns

In [23]:
df_modified = df.withColumn("one", F.lit("dummy"))
df_modified.show()

+---------+---------+---+------------+------+----------+--------------------+-----+
|FirstName| LastName|Age|       Place|Salary|Department|        Technologies|  one|
+---------+---------+---+------------+------+----------+--------------------+-----+
|    Pavan|   Mantha| 36|   Hyderabad|273567|       SPS|[java, spring boo...|dummy|
|     Arun|  Boppudi| 36|      Guntur|303567|      Aero|[java, spring boo...|dummy|
|     Ravi|Vadlamani| 26|Visakapatnam|213567|      Aero|[express, data st...|dummy|
| Mahender|        M| 21|   Hyderabad|153567|      Aero|[java, spring boo...|dummy|
|    Manoj|    Manoj| 21|      Guntur|183567|      Aero|    [express, react]|dummy|
|    Manoj|Velecheti| 21|Visakapatnam|223567|      Aero|[java, spring boo...|dummy|
+---------+---------+---+------------+------+----------+--------------------+-----+

In [24]:
df_modified = df_modified.withColumn("One", F.expr("one"))
df_modified.show()

+---------+---------+---+------------+------+----------+--------------------+-----+
|FirstName| LastName|Age|       Place|Salary|Department|        Technologies|  One|
+---------+---------+---+------------+------+----------+--------------------+-----+
|    Pavan|   Mantha| 36|   Hyderabad|273567|       SPS|[java, spring boo...|dummy|
|     Arun|  Boppudi| 36|      Guntur|303567|      Aero|[java, spring boo...|dummy|
|     Ravi|Vadlamani| 26|Visakapatnam|213567|      Aero|[express, data st...|dummy|
| Mahender|        M| 21|   Hyderabad|153567|      Aero|[java, spring boo...|dummy|
|    Manoj|    Manoj| 21|      Guntur|183567|      Aero|    [express, react]|dummy|
|    Manoj|Velecheti| 21|Visakapatnam|223567|      Aero|[java, spring boo...|dummy|
+---------+---------+---+------------+------+----------+--------------------+-----+

In [25]:
df_modified.columns

['FirstName',
 'LastName',
 'Age',
 'Place',
 'Salary',
 'Department',
 'Technologies',
 'One']

In [26]:
# using this function "withColumnRenamed" will allow to modify the column one at a time.
df_modified = df_modified.withColumnRenamed("One","DUMMY")
df_modified.show()

+---------+---------+---+------------+------+----------+--------------------+-----+
|FirstName| LastName|Age|       Place|Salary|Department|        Technologies|DUMMY|
+---------+---------+---+------------+------+----------+--------------------+-----+
|    Pavan|   Mantha| 36|   Hyderabad|273567|       SPS|[java, spring boo...|dummy|
|     Arun|  Boppudi| 36|      Guntur|303567|      Aero|[java, spring boo...|dummy|
|     Ravi|Vadlamani| 26|Visakapatnam|213567|      Aero|[express, data st...|dummy|
| Mahender|        M| 21|   Hyderabad|153567|      Aero|[java, spring boo...|dummy|
|    Manoj|    Manoj| 21|      Guntur|183567|      Aero|    [express, react]|dummy|
|    Manoj|Velecheti| 21|Visakapatnam|223567|      Aero|[java, spring boo...|dummy|
+---------+---------+---+------------+------+----------+--------------------+-----+

### Removing the columns

In [27]:
df_modified = df_modified.drop("DUMMY")
df_modified.columns

['FirstName',
 'LastName',
 'Age',
 'Place',
 'Salary',
 'Department',
 'Technologies']

### Dataframe Filtering Techniques

In [28]:
df_modified.filter(F.col("age") < 30).show()

+---------+---------+---+------------+------+----------+--------------------+
|FirstName| LastName|Age|       Place|Salary|Department|        Technologies|
+---------+---------+---+------------+------+----------+--------------------+
|     Ravi|Vadlamani| 26|Visakapatnam|213567|      Aero|[express, data st...|
| Mahender|        M| 21|   Hyderabad|153567|      Aero|[java, spring boo...|
|    Manoj|    Manoj| 21|      Guntur|183567|      Aero|    [express, react]|
|    Manoj|Velecheti| 21|Visakapatnam|223567|      Aero|[java, spring boo...|
+---------+---------+---+------------+------+----------+--------------------+

In [30]:
df_modified.filter(F.size(F.col("Technologies")) < 3).show()

+---------+--------+---+------+------+----------+----------------+
|FirstName|LastName|Age| Place|Salary|Department|    Technologies|
+---------+--------+---+------+------+----------+----------------+
|    Manoj|   Manoj| 21|Guntur|183567|      Aero|[express, react]|
+---------+--------+---+------+------+----------+----------------+

In [31]:
# perform multiple filter operations using the "where" function
df_modified.where(F.col("Place") == "Hyderabad").where(F.size(F.col("Technologies")) > 3).show()

+---------+--------+---+---------+------+----------+--------------------+
|FirstName|LastName|Age|    Place|Salary|Department|        Technologies|
+---------+--------+---+---------+------+----------+--------------------+
|    Pavan|  Mantha| 36|Hyderabad|273567|       SPS|[java, spring boo...|
| Mahender|       M| 21|Hyderabad|153567|      Aero|[java, spring boo...|
+---------+--------+---+---------+------+----------+--------------------+

### Count distinct rows

In [32]:
df_modified.select("*").distinct().count()

6

### Get random samples

In [34]:
df.sample(withReplacement=False, fraction=1.0, seed=2).count()

6

### Random split of data frame

In [39]:
# split the actual data frame to two random splits with 70% and 30% data in them
df_split = df.randomSplit([0.7, 0.3], seed=3)

In [40]:
print(df.count())
print(df_split[0].count())
print(df_split[1].count())

6
4
2

### Concatinating and Appending rows

In [41]:
df.columns

['FirstName',
 'LastName',
 'Age',
 'Place',
 'Salary',
 'Department',
 'Technologies']

In [44]:
rows = [
    Row("Deepak","Mantha",33,"Kalpakkam",333333,"BARC",["C","C++","Python"]),
    Row("Nishant","Sharma",35,"Shimla",303333,"SPS",[".Net","Xamarin","ASP.Net"]),
    Row("Akhil","Debral",34,"Uttarakhand",313333,"SPS",[".Net","Xamarin","ASP.Net","Kubenetes","Azure"])
]
parallizeRows = spark.sparkContext.parallelize(rows)
df2 = spark.createDataFrame(rows, schema)

In [45]:
df = df.union(df2)

In [46]:
df.show()

+---------+---------+---+------------+------+----------+--------------------+
|FirstName| LastName|Age|       Place|Salary|Department|        Technologies|
+---------+---------+---+------------+------+----------+--------------------+
|    Pavan|   Mantha| 36|   Hyderabad|273567|       SPS|[java, spring boo...|
|     Arun|  Boppudi| 36|      Guntur|303567|      Aero|[java, spring boo...|
|     Ravi|Vadlamani| 26|Visakapatnam|213567|      Aero|[express, data st...|
| Mahender|        M| 21|   Hyderabad|153567|      Aero|[java, spring boo...|
|    Manoj|    Manoj| 21|      Guntur|183567|      Aero|    [express, react]|
|    Manoj|Velecheti| 21|Visakapatnam|223567|      Aero|[java, spring boo...|
|   Deepak|   Mantha| 33|   Kalpakkam|333333|      BARC|    [C, C++, Python]|
|  Nishant|   Sharma| 35|      Shimla|303333|       SPS|[.Net, Xamarin, A...|
|    Akhil|   Debral| 34| Uttarakhand|313333|       SPS|[.Net, Xamarin, A...|
+---------+---------+---+------------+------+----------+--------------------+

In [47]:
df.where(F.col("Department") == "SPS").show()

+---------+--------+---+-----------+------+----------+--------------------+
|FirstName|LastName|Age|      Place|Salary|Department|        Technologies|
+---------+--------+---+-----------+------+----------+--------------------+
|    Pavan|  Mantha| 36|  Hyderabad|273567|       SPS|[java, spring boo...|
|  Nishant|  Sharma| 35|     Shimla|303333|       SPS|[.Net, Xamarin, A...|
|    Akhil|  Debral| 34|Uttarakhand|313333|       SPS|[.Net, Xamarin, A...|
+---------+--------+---+-----------+------+----------+--------------------+

In [48]:
df.where(F.col("Department") == "Aero").show()

+---------+---------+---+------------+------+----------+--------------------+
|FirstName| LastName|Age|       Place|Salary|Department|        Technologies|
+---------+---------+---+------------+------+----------+--------------------+
|     Arun|  Boppudi| 36|      Guntur|303567|      Aero|[java, spring boo...|
|     Ravi|Vadlamani| 26|Visakapatnam|213567|      Aero|[express, data st...|
| Mahender|        M| 21|   Hyderabad|153567|      Aero|[java, spring boo...|
|    Manoj|    Manoj| 21|      Guntur|183567|      Aero|    [express, react]|
|    Manoj|Velecheti| 21|Visakapatnam|223567|      Aero|[java, spring boo...|
+---------+---------+---+------------+------+----------+--------------------+

In [49]:
df.select("FirstName","LastName","Technologies").where(F.col("Department") == "Aero").show()

+---------+---------+--------------------+
|FirstName| LastName|        Technologies|
+---------+---------+--------------------+
|     Arun|  Boppudi|[java, spring boo...|
|     Ravi|Vadlamani|[express, data st...|
| Mahender|        M|[java, spring boo...|
|    Manoj|    Manoj|    [express, react]|
|    Manoj|Velecheti|[java, spring boo...|
+---------+---------+--------------------+

### Sorting

In [50]:
df.sort("Age").show()

+---------+---------+---+------------+------+----------+--------------------+
|FirstName| LastName|Age|       Place|Salary|Department|        Technologies|
+---------+---------+---+------------+------+----------+--------------------+
|    Manoj|Velecheti| 21|Visakapatnam|223567|      Aero|[java, spring boo...|
| Mahender|        M| 21|   Hyderabad|153567|      Aero|[java, spring boo...|
|    Manoj|    Manoj| 21|      Guntur|183567|      Aero|    [express, react]|
|     Ravi|Vadlamani| 26|Visakapatnam|213567|      Aero|[express, data st...|
|   Deepak|   Mantha| 33|   Kalpakkam|333333|      BARC|    [C, C++, Python]|
|    Akhil|   Debral| 34| Uttarakhand|313333|       SPS|[.Net, Xamarin, A...|
|  Nishant|   Sharma| 35|      Shimla|303333|       SPS|[.Net, Xamarin, A...|
|    Pavan|   Mantha| 36|   Hyderabad|273567|       SPS|[java, spring boo...|
|     Arun|  Boppudi| 36|      Guntur|303567|      Aero|[java, spring boo...|
+---------+---------+---+------------+------+----------+--------------------+

In [51]:
df.orderBy(F.desc("Salary")).show()

+---------+---------+---+------------+------+----------+--------------------+
|FirstName| LastName|Age|       Place|Salary|Department|        Technologies|
+---------+---------+---+------------+------+----------+--------------------+
|   Deepak|   Mantha| 33|   Kalpakkam|333333|      BARC|    [C, C++, Python]|
|    Akhil|   Debral| 34| Uttarakhand|313333|       SPS|[.Net, Xamarin, A...|
|     Arun|  Boppudi| 36|      Guntur|303567|      Aero|[java, spring boo...|
|  Nishant|   Sharma| 35|      Shimla|303333|       SPS|[.Net, Xamarin, A...|
|    Pavan|   Mantha| 36|   Hyderabad|273567|       SPS|[java, spring boo...|
|    Manoj|Velecheti| 21|Visakapatnam|223567|      Aero|[java, spring boo...|
|     Ravi|Vadlamani| 26|Visakapatnam|213567|      Aero|[express, data st...|
|    Manoj|    Manoj| 21|      Guntur|183567|      Aero|    [express, react]|
| Mahender|        M| 21|   Hyderabad|153567|      Aero|[java, spring boo...|
+---------+---------+---+------------+------+----------+--------------------+

### Limit what we extract from data frame

In [52]:
df.limit(3).show()

+---------+---------+---+------------+------+----------+--------------------+
|FirstName| LastName|Age|       Place|Salary|Department|        Technologies|
+---------+---------+---+------------+------+----------+--------------------+
|    Pavan|   Mantha| 36|   Hyderabad|273567|       SPS|[java, spring boo...|
|     Arun|  Boppudi| 36|      Guntur|303567|      Aero|[java, spring boo...|
|     Ravi|Vadlamani| 26|Visakapatnam|213567|      Aero|[express, data st...|
+---------+---------+---+------------+------+----------+--------------------+