In [1]:
import warnings
warnings.filterwarnings("ignore")

from pyspark.sql import SparkSession
from pyspark.sql.types import StructType, StructField, StringType, LongType, IntegerType, ArrayType, Row

spark = SparkSession.builder.appName("sparksql-tutorial").getOrCreate()
# define the structure to the data frame
schema = StructType([
    StructField(name="FirstName", dataType=StringType(), nullable=False),
    StructField(name="LastName", dataType=StringType(), nullable=False),
    StructField(name="Age", dataType=IntegerType(), nullable=False),
    StructField(name="Place", dataType=StringType(), nullable=False),
    StructField(name="Salary", dataType=LongType(), nullable=False),
    StructField(name="Department", dataType=StringType(), nullable=False)
])

# Create the data rows as per the schema defined
rows = [
    Row("Pavan","Mantha",36,"Hyderabad",273567,"SPS"),
    Row("Arun","Boppudi",36,"Guntur",303567,"Aero"),
    Row("Ravi","Vadlamani",26,"Visakapatnam",213567,"Aero"),
    Row("Mahender","M",21,"Hyderabad",153567,"Aero"),
    Row("Manoj","Manoj",21,"Guntur",183567,"Aero"),
    Row("Manoj","Velecheti",21,"Visakapatnam",223567,"Aero"),
]

parallel_rows = spark.sparkContext.parallelize(rows)

# createDataFrame is used to create dataframe manually
df = spark.createDataFrame(parallel_rows, schema, verifySchema=True)

df.show()

23/03/13 21:27:57 WARN Utils: Your hostname, Pavans-MacBook-Pro.local resolves to a loopback address: 127.0.0.1; using 192.168.29.143 instead (on interface en0)
23/03/13 21:27:57 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

23/03/13 21:27:57 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
23/03/13 21:27:59 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.

+---------+---------+---+------------+------+----------+
|FirstName| LastName|Age|       Place|Salary|Department|
+---------+---------+---+------------+------+----------+
|    Pavan|   Mantha| 36|   Hyderabad|273567|       SPS|
|     Arun|  Boppudi| 36|      Guntur|303567|      Aero|
|     Ravi|Vadlamani| 26|Visakapatnam|213567|      Aero|
| Mahender|        M| 21|   Hyderabad|153567|      Aero|
|    Manoj|    Manoj| 21|      Guntur|183567|      Aero|
|    Manoj|Velecheti| 21|Visakapatnam|223567|      Aero|
+---------+---------+---+------------+------+----------+

In [2]:
df.toPandas()

  FirstName   LastName  Age         Place  Salary Department
0     Pavan     Mantha   36     Hyderabad  273567        SPS
1      Arun    Boppudi   36        Guntur  303567       Aero
2      Ravi  Vadlamani   26  Visakapatnam  213567       Aero
3  Mahender          M   21     Hyderabad  153567       Aero
4     Manoj      Manoj   21        Guntur  183567       Aero
5     Manoj  Velecheti   21  Visakapatnam  223567       Aero