In [1]:
from pyspark.sql import SparkSession
from pyspark.sql.types import StructType, StructField, StringType, LongType, IntegerType, ArrayType, Row

In [2]:
spark = SparkSession.builder.appName("SparkDev").config("spark.jars", "/opt/homebrew/Cellar/apache-spark/3.3.0/libexec/jars/mysql-connector-java-8.0.16.jar").getOrCreate()

23/03/13 21:25:00 WARN Utils: Your hostname, Pavans-MacBook-Pro.local resolves to a loopback address: 127.0.0.1; using 192.168.29.143 instead (on interface en0)
23/03/13 21:25:00 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
23/03/13 21:25:00 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

In [3]:
# define the structure to the data frame
schema = StructType([
    StructField(name="FirstName", dataType=StringType(), nullable=False),
    StructField(name="LastName", dataType=StringType(), nullable=False),
    StructField(name="Age", dataType=IntegerType(), nullable=False),
    StructField(name="Place", dataType=StringType(), nullable=False),
    StructField(name="Salary", dataType=LongType(), nullable=False),
    StructField(name="Department", dataType=StringType(), nullable=False)
])

In [4]:
# create the data rows as per the schema defined
rows = [
    Row("Pavan","Mantha",36,"Hyderabad",273567,"SPS"),
    Row("Arun","Boppudi",36,"Guntur",303567,"Aero"),
    Row("Ravi","Vadlamani",26,"Visakapatnam",213567,"Aero"),
    Row("Mahender","M",21,"Hyderabad",153567,"Aero"),
    Row("Manoj","Manoj",21,"Guntur",183567,"Aero"),
    Row("Manoj","Velecheti",21,"Visakapatnam",223567,"Aero"),
]

In [5]:
parallel_rows = spark.sparkContext.parallelize(rows)
# createDataFrame is used to create dataframe manually
df = spark.createDataFrame(parallel_rows, schema, verifySchema=True)
df.show()

+---------+---------+---+------------+------+----------+
|FirstName| LastName|Age|       Place|Salary|Department|
+---------+---------+---+------------+------+----------+
|    Pavan|   Mantha| 36|   Hyderabad|273567|       SPS|
|     Arun|  Boppudi| 36|      Guntur|303567|      Aero|
|     Ravi|Vadlamani| 26|Visakapatnam|213567|      Aero|
| Mahender|        M| 21|   Hyderabad|153567|      Aero|
|    Manoj|    Manoj| 21|      Guntur|183567|      Aero|
|    Manoj|Velecheti| 21|Visakapatnam|223567|      Aero|
+---------+---------+---+------------+------+----------+

In [6]:
# Write to MySQL Table
# Define database connection properties
url = "jdbc:mysql://localhost:3306/test"
table_name = "employee_4m_spark"
properties = {
    "user": "root",
    "password": "root",
    "driver": "com.mysql.jdbc.Driver"
}

# Write the DataFrame to the database table
df.write.jdbc(url=url, table=table_name, mode="overwrite", properties=properties)

Loading class `com.mysql.jdbc.Driver'. This is deprecated. The new driver class is `com.mysql.cj.jdbc.Driver'. The driver is automatically registered via the SPI and manual loading of the driver class is generally unnecessary.